.cont_nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 60px;
    place-items: center;
    background-color: limegreen;
    color: white;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.Welcome{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-family: "URW Chancery L", cursive;
    background-color: #000712;
    color: white;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    font-size: 30px;
    font-family: "Avantgarde", sans-serif;
    text-align: justify-all;
    align-items: center;
    color: white;
    padding: 10px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    background-color: black;
}
.container_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 1em;
    font-size: 30px;
    background-color: black;
    color: white;
}
.container_3{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 1em;
    min-height: 500px;
    align-items: center;
    justify-items: center;
    font-size: 30px;
    background-color: black;
    color: white;
}
.container_4{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 1em;
    min-height: 500px;
    align-items: center;
    justify-items: center;
    font-size: 30px;
    background-color: black;
    color: white;
}
.text{
    min-height: 100%;
    border: solid 1px wheat;
    border-radius: 10px;
    font-family: "Avantgarde", sans-serif;
}
img{
    width: 500px;
    height: 250px;
    justify-items: center;
}
.Book, .games, .films{
    margin: 0;
    padding: 10px;
    font-size: 50px;
    font-family: "URW Chancery L", cursive;
    text-align: center;
    background-color: black;
    color: white;
}
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    border-top: solid black 1px;
    background-color: white;
    margin: 10px;
}
.MAIN{
    width: 100%;
    height: 600px;
    border-radius: 45%;
}
.logo{
    font-size: 50px;
    font-family: Snell Roundhand, coursive;
}
a:link{
    text-decoration: none;
    color: white;
}
a:visited{
    text-decoration: none;
    color: antiquewhite;
}
.link{
    font-size: 20px;
    font-family: "Bell MT", cursive;
}
.plug{
    width: 100%;
    height: 500px;
    background-color: #000712;
}