.cont_nav{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    height: 60px;
    place-items: center;
    background-color: floralwhite;
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}
.Welcome{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 300px;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    font-size: 40px;
    font-family: "URW Chancery L", cursive;
}
.container{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 10px;
    width: 100%;
    font-size: 30px;
    font-family: "Avantgarde", sans-serif;
    text-align: justify-all;
    align-items: center;
    padding: 10px;
    border-bottom: solid 1px black;
    border-top: solid 1px black;
    background-color: floralwhite;
}
.container_2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    justify-items: center;
    grid-gap: 1em;
    font-size: 30px;
    background-color: floralwhite;
}
.container_3{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 1em;
    min-height: 500px;
    align-items: center;
    justify-items: center;
    font-size: 30px;
    background-color: floralwhite;
}
.container_4{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
    grid-gap: 1em;
    min-height: 500px;
    align-items: center;
    justify-items: center;
    font-size: 30px;
    background-color: floralwhite;
}
.text{
    min-height: 100%;
    border: solid 1px wheat;
    border-radius: 10px;
    font-family: "Avantgarde", sans-serif;
}
img{
    width: 500px;
    height: 250px;
    justify-items: center;
}
.Book, .games, .films{
    font-size: 50px;
    font-family: "URW Chancery L", cursive;
    text-align: center;
    margin: 20px;
}
footer{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    font-size: large;
    border-top: solid black 1px;
    background-color: white;
    margin: 10px;
}
.MAIN{
    width: 100%;
    height: 600px;
}
.logo{
    font-size: 50px;
    font-family: Snell Roundhand, coursive;
}
a:link{
    text-decoration: none;
    color: black;
}
a:visited{
    text-decoration: none;
    color: black;
}
.link{
    font-size: 20px;
    font-family: "Bell MT", cursive;
}
.plug{
    width: 100%;
    height: 500px;
}
/*@media screen and (max-width: 360px){
    .Welcome{
        font-size: 35px;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .container_2{
        grid-template-columns: 1fr;
        grid-template-rows:  auto;
    }
    .container_3{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .container_4{
        grid-template-columns: 1fr;
    }
    .fr{
        min-height: 200px;
    }
    .images_1, .images_2, .images_4, .images_5, .images_6, .images_7, .images_8, .images_3{
        background-size: contain;
    }
    .link {
        font-size: 15px;
        font-family: "Bell MT", cursive;
    }
}
@media screen and (min-width: 361px) and (max-width: 576px){
    .Welcome{
        font-size: 35px;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .container_2{
        grid-template-columns: 1fr;
    }
    .container_3{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .container_4{
        grid-template-columns: 1fr;
    }
    .fr{
        min-height: 200px;
    }
    .images_1, .images_2, .images_4, .images_5, .images_6, .images_7, .images_8, .images_3{
        background-size: cover;
    }
    .link {
        font-size: 15px;
        font-family: "Bell MT", cursive;
    }
}
@media screen and (min-width: 577px) and (max-width: 768px){
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.7fr 1fr;
    }
    .container_3{
        grid-template-columns: 1fr 1fr;
    }
    .container_4{
        grid-template-rows: 0.7fr 1fr;

    }
    .fr{
        min-height: 200px;
    }
    .images_1, .images_2, .images_4, .images_5, .images_6, .images_7, .images_8, .images_3{
        background-size: contain;
    }
}*/




