body{
    color: antiquewhite;
    background-image: linear-gradient(#131313, #2f2f2f);
}
div{
    border-bottom: solid antiquewhite 1px;
}
.SEE {
    height: 150px;
    font-size: 100px;
    text-align: center;
}
.Task{
    font-size: 30px;
}