@media screen and (max-width: 360px){
    .Welcome{
        font-size: 35px;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .container_2{
        grid-template-columns: 1fr;
        grid-template-rows:  auto;
    }
    .container_3{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .container_4{
        grid-template-columns: 1fr;
    }
    .fr{
        min-height: 200px;
    }
    .images_1, .images_2, .images_4, .images_5, .images_6, .images_7, .images_8, .images_3{
        background-size: contain;
    }
    .link {
        font-size: 15px;
        font-family: "Bell MT", cursive;
    }
}
@media screen and (min-width: 361px) and (max-width: 576px){
    .Welcome{
        font-size: 35px;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .container_2{
        grid-template-columns: 1fr;
    }
    .container_3{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .container_4{
        grid-template-columns: 1fr;
    }
    .fr{
        min-height: 200px;
    }
    .images_1, .images_2, .images_4, .images_5, .images_6, .images_7, .images_8, .images_3{
        background-size: cover;
    }
    .link {
        font-size: 15px;
        font-family: "Bell MT", cursive;
    }
}
@media screen and (min-width: 577px) and (max-width: 768px){
    .Welcome{
        font-size: 35px;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .container_2{
        grid-template-columns: 1fr;
    }
    .container_3{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .container_4{
        grid-template-columns: 1fr;
    }
    .fr{
        min-height: 200px;
    }
    .images_1, .images_2, .images_4, .images_5, .images_6, .images_7, .images_8, .images_3{
        background-size: cover;
    }
    .link {
        font-size: 15px;
        font-family: "Bell MT", cursive;
    }
}
@media screen and (min-width: 769px) and (max-width: 1050px)  {
    .Welcome{
        font-size: 35px;
    }
    .container{
        grid-template-columns: 1fr;
    }
    .container_2{
        grid-template-columns: 1fr;
    }
    .container_3{
        grid-template-columns: 1fr;
        grid-template-rows: repeat(4, 1fr);
    }
    .container_4{
        grid-template-columns: 1fr;
    }
    .fr{
        min-height: 200px;
    }
    .images_1, .images_2, .images_4, .images_5, .images_6, .images_7, .images_8, .images_3{
        background-size: cover;
    }
    .link {
        font-size: 20px;
        font-family: "Bell MT", cursive;
    }
}
